html, body {
  background-color: white;
  color: #b1b1b1; }

header h1 {
  margin: 20px;
  font-weight: 100; }
header .menu {
  text-align: right; }
  header .menu a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 20px;
    font-size: 22px;
    color: #b1b1b1;
    font-weight: 100; }

body > .container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto; }
