extends layout

block scripts
    script(async,type='text/javascript', data-main='scripts/main', src='components/requirejs/require.js')
block content
    .row
        .col-md-6
            .bigtitle.lefttitle.
                Financial Status
        .col-md-6
            .bigtitle.lefttitle.
                Health Trend
    .row
        .col-md-6
            .finance-graph
        .col-md-6
            .weight-graph
    .row
        .col-md-4
            .row
                .col-md-12
                    .github-issues.bigtext
            .row
                .col-md-12
                    .github-title.bigtitle.
                        Open Github Issues.
        .col-md-4
            .row
                .col-md-12
                    .tea.bigtext.
                        1
            .row
                .col-md-12
                    .tea-title.bigtitle.
                        Cups of Tea Today.
        .col-md-4
            .row
                .col-md-12
                    .calorie-counter.bigtext
                .col-md-12.bigtitle.
                    Calories Burned Today  
    .row
        .col-md-12
            .space
    .row
        .col-md-4
            .productivity-graph
        .col-md-8
            .energy-graph            
    .row            
        .col-md-4
            .bigtitle.
                Productivity          
        .col-md-8
            .bigtitle.
                Energy Consumption